body {
    background-color: white;
    color: black;
    font-family: "Arial Rounded MT Bold", cursive, verdana;
    font-size: medium;
    font-variant: small-caps;
    text-align: justify;
    margin: 0;
}

#navigator {
    display: flex;
    background: black;
}

#navigator > ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;
    width: 100%;
    margin: 0px;
}

#navigator p, #navigator a {
    text-decoration: none;
    color: white;
}

#navigator a:hover{
    line-height: 5%;
    font-size: larger;
    border-bottom: 2px solid white;
}

#portfolio {
    display: flex;
    width: 100%;
}

.section {
    flex: 1;
    padding: 2%;
}

.link-group {
    flex: 1;
    margin: 2%;
    padding: 2%;
}

#portfolio img{
    border-radius: 25px;
    width: fit-content;
}

#portfolio p{
    width: 100%;
    text-align: justify;
    font-variant: none;
    font-size: 80%;
}

#portfolio a{
    font-size: medium;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    color:  black;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

#portfolio a:hover{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    background-color:  black;
    color: white;
    padding: 5px;
    margin: 5px;
}

#portfolio ul{
    list-style-type: none;
}

.gallery_grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    align-items: center;
    justify-items: center;
    column-gap: 1%;
    align-content: center;
    justify-content: center;
}

.gallery_grid img{
    max-width:80%;
    max-height:80%;
    min-width:40%;
    min-height:40%;
    transition: width 2s;
}

.gallery_grid img:nth-child(odd) {
    border: 10px dashed black;
}
.gallery_grid img:nth-child(even) {
    border: 10px dotted black;
}
.gallery_grid img:hover:nth-child(odd) {
    border: 10px dashed yellow;
}
.gallery_grid img:hover:nth-child(even) {
    border: 10px dashed red;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 10%;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

.active {
    border-bottom: 2px solid white;
}

.solid-img {
    border: 10px solid black;
}

.solid-img:hover {
    border: 10px solid yellow;
}

#footer{
    display: flex;
    background: black;
    color: white;
    padding: 5px;
}
